body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;  
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    background: rgb(50, 112, 169);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
}
h2 {
    text-align: center;
    color: #333;
}
label {
    margin-top: 10px;
    display: block;
}
input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
textarea {
    height: 100px;
}
.checkbox-group {
    margin-top: 10px;
    
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #7f00b5;
    color: rgb(252, 254, 255);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #0c17b1;
}